@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
  /* height: 100%; */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}


.progress-container {
    position: fixed;
    top: 50px;
    z-index: 1000;
      width: 100%;
      height: 3px;
      background: rgba(37, 150, 190, .3);
}

/* 프로그래스바 디자인 */
.progress-bar {
      height: 3px;  /* 높이 */
      background: #2596be; /* 색상 */
      width: 0%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR';
  color: #333;
  background: #d9d9d9;
  font-size: 18px;
  text-align: center;
  /* overflow: hidden; */
  min-width: 250px;

}

section {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  
}

section:nth-child(even){
background-color: #f1f1f1;
}
section:nth-child(odd){
background-color: #d9d9d9;
}

h2 {
  color: #111;
}


.logo {
  display: inline-block;
  line-height: 50px;
  font-size: 25px;
  float: left;
  padding-left: 1em;
  color: #7a9dbf;
  cursor: default;
}



#basicnav {
  position: fixed;
  top: 0;
  width: 100%;
  /* min-width: 940px; */
  min-width: 250px;
  height: 50px;
  z-index: 500;
  background-color: #000;
  color: #fff;
}


#basicnav li {
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
  padding: 0 2rem;
}

#basicnav li a {
  color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

#basicnav li a:hover, .wrap .btn_open:hover {
  color: #2596be;
}

#screen1 {
  flex-direction: column;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 30px;
  padding-top: 110px;
  background-color: #000;
  box-sizing: border-box;
  overflow: hidden;
  /* min-height: 700px; */
  height: 100vh;
}

#screen1 h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  /* min-width: 11px; */
  white-space: nowrap;
  margin: 0;
  padding-left: 12px;
  padding-bottom: 8px;
  position: absolute;
  color: transparent;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#screen1 h1::before {
  content: "Hello, I'm Subin.";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f2f2f2;
  overflow: hidden;
  border-right: 2px solid #000;
  animation: typing 5s steps(24) 1, blink 1s infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-right: 2px solid #f2f2f2;
  }
}

#screen1 button {
  font-size: 36px;
  /* min-width: 11px; */
  position: absolute;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  bottom: 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  transition: .3s;
}

#screen1 button a {
  color: #999;
}

#screen1 button:hover a {
  color: #111;
}

button.btn span {
  position: relative;
  z-index: 1;
}

button.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #999;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

button.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.proSection {
  display: flex;
  flex-direction: column;
  /* background-color: #f1f1f1; */
  color: #000;

}

.proSection h2{
  font-size: 36px;
  width: 100%;
  text-align: center;
  top: 10%;
  margin-top: 80px;
}

.pro-wrap {
  /* max-width: 1400px; */
  margin-top: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  position: relative;
  padding: 5%;
  box-sizing: border-box;
}

.wrap {
  font-weight: bold;
  width: 39%;
}

.wrap_bg {
  font-weight: bold;
  width: 29%;
  background-color: #fff;
  border-radius: 3%;
  border: 3px solid #d9d9d9;
  margin-bottom: 10px;
  /* min-height: 270px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}



.wrap_bg p, .wrap_bg button {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.wrap_bg p span {
  font-size: 24px;
  margin: 5px auto;
  background-color: #d9d9d9;
  padding: 10px;
}

.pimg {
  width: 70%;
  background: #111;
  display: block;
  margin: auto;
  border-radius: 5%;
}


.pimg+p {
  padding-top: 12px;
}

.btn_open {
  font-weight: bold;
  margin: 5px;
  padding: 4px 6px;
  color: #333;
}

.pop_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  font-size: 0;
  text-align: center;
}

.pop_wrap:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.pop_wrap .pop_inner {
  display: inline-block;
  padding: 20px 30px;
  width: 30em;
  /* min-height: 250px; */
  line-height: 19px;
  background: #fff;
  vertical-align: middle;
  font-size: 15px;
  color: #111;
  border: 3px solid #d9d9d9;
}

.pop_wrap .pop_inner p {
  margin: 20px 0;
}

.pop_inner button.btn_close {
  float: right;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #111;
  background: transparent;
  cursor: pointer;
  color: #111;
}

.position {
  position: relative;
  padding: 8px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  background-color: #222;

}

.position:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  font-weight: bolder;
  font-size: 16px;
}

.position:nth-child(1) {
  filter: hue-rotate(270deg);
}

.position:nth-child(2) {
  filter: hue-rotate(110deg);
}

.position span {
  position: absolute;
  display: block;
}

.position span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: bani1 1s linear infinite;
}

@keyframes bani1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.position span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: bani2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes bani2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.position span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: bani3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes bani3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.position span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: bani4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes bani4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

#screen4 {
  display: flex;
  flex-direction: column;
  align-items: space-btween;
  /* background-color: #d9d9d9; */
  color: #000;
  text-transform: capitalize;
}

#screen4 h2 {
  font-size: 36px;
  width: 100%;
  /* text-align: center; */
  margin: 80px auto;
}

ul.tabs{

  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 50px;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

ul.tabs li.current:after {
  content: '';
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
}


.tab_menu .item-container {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 2%;
  box-sizing: border-box;
  padding-bottom: 50px;
  /* max-width: 1400px; */
}

.tab_menu .item-container.current {
  display: flex;
  animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

.item-container .items {
  position: relative;
  width: 150px;
  height: 250px;
  border: 3px solid #ededed;
  background-color: #fff;
}

.item-container .items:hover {
  border: 3px solid #2596be;
}

.item-container .items:hover .inner{
  opacity: .8;
}

.item-container .items:hover img {
  opacity: .4;
}

.item-container .items .inner {
  width: 100%;
  height: 100%;
  line-height: 30px;
  background-color: #222;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.item-container img {
  width: 90%;
  height: 100%;
  object-fit: contain;

}

.anchor {
  position: fixed;
  right: 1rem;
  bottom: 7rem;
  display: block;
  width: 80px;
  height: 48px;
  background: rgba(34, 34, 34, .3);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 99;
}

li {
  list-style: none;
}

.anchor a {
  color: #1a1a1a;
  font-size: 14px;
  box-sizing: border-box;
}

.anchor a:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.anchor .line {
  position: fixed;
  width: 80px;
  height: 1px;
  background-color: #1a1a1a;
}

.path {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 3px;
}

.path1 {
  stroke-dasharray: 6884;
  animation: drawPath1 1s linear, floating 2.2s linear infinite;
}

.drawPath1 {
  animation: drawPath1 3s linear;
}

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}

footer {
  background-color: #000;
  color: #fff;
}

footer p {
  height: 50px;
  line-height: 50px
}


@media screen and (max-width: 1200px) {

    
  .wrap_bg p span {
      font-size: 16px;
      padding: 6px;
    }

  .wrap {
    width: 47%;
  }
}

@media screen and (max-width: 900px) {

  #screen1 h1 {
    font-size: 30px;
  }

  .wrap_bg {
    width: 50%;
  }

    .wrap_bg p span {
      font-size: 24px;
      
    }

    .wrap {
      width: 75%;
    }
}

@media screen and (max-width: 700px) {

  #screen1 h1 {
      font-size: 16px;
    }

  .wrap_bg {
    width: 80%;
  }

    .wrap {
      width: 80%;
    }
}

@media screen and (max-width: 480px) {

  .wrap {
    width: 98%;
  }
  .wrap_bg {
    width: 90%;
  }

  .wrap_bg p span {
    font-size: 14px;
    
  }
}