nav {
  text-transform: uppercase;
}

nav .container-fluid form button svg {
  fill: #fff;
}

li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item {
  color: var(--bs-navbar-color);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #212529;
  color: var(--bs-navbar-hover-color);
}

.dropdown-toggle::after {
  display: none;
}

.carousel-caption {
  top: 30%;
  text-transform: uppercase;
}

main h1 {
  font-size: 2em;
  text-transform: uppercase;
}
main p {
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
}

.blogsection {
  max-width: 1200px;
  margin: 50px auto;

}

.blogsection .text-start {
  font-size: 2em;
}

.blogsection p img {
  width: 100%;
  height: 100%;
}

.album .card-text {
  font-size: 16px;
}

.album .row+.row {
  margin-top: 50px;
}

footer {
  padding: 0 10em;
}
